@{
    ViewData["Title"] = "Home Page";
}
@{
    ViewBag.Title = "Student Summary";
    var test = ViewBag.test;
}
<div class="text-center">
    <p>@test</p>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
